html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* other */

