:root {
  --dimmed-black: #595653;
  --font-black: #313131;
  --button-black: #1f1f1f;
  --white: #fff;
  --button-yellow: #FBCE51;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Golos", sans-serif;
  font-weight: 400;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* other */

.container {
  max-width: 1366px;
  padding: 0 72px;
}

/* header */

.header {
  max-width: 1920px;
  height: 881px;
  background-image: url(../assets/images/header-bg-full.png);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.header__container {
  padding-top: 26px;
}

.header__logo {
  display: flex;
  margin-bottom: 62px;
}

.header__img {
  margin-right: 6.35px;
}

.header__svg:not(:last-child) {
  margin-right: 1.73px;
}

.header__name {
  max-width: 147px;
  color: var(--dimmed-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 108%;
  text-transform: uppercase;
}

.header__title {
  max-width: 542px;
  margin-bottom: 24px;
  color: var(--font-black);
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__descr {
  max-width: 542px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--font-black);
  font-size: 18px;
  line-height: 130%;
}

.header__button_block {
  display: flex;
  max-width: 542px;
  gap: 16px;
}

.header__button {
  width: calc((100% - 16px) / 2);
  padding: 20px 50px;
  text-align: center;
  border-radius: 66px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.header__button_dark {
  background: var(--button-black);
  color: var(--white);
  border: none;
}

.header__button_dark:hover {
  background-color: var(--button-yellow);
  color: var(--button-black);
}

.header__button_light {
  border: 2px solid var(--button-black);
  color: var(--button-black);
}

.header__button_light:hover {
  background-color: var(--button-black);
  color: var(--white);
}
