:root {
  --dimmed-black: #595653;
  --font-black: #313131;
  --button-black: #1f1f1f;
  --white: #fff;
  --button-yellow: #fbce51;
  --title-red: #f54932;
  --border-gray: #d0d0d0;
  --link-blue: #3057a2;
  --disabled-gray: #d6d6d6;
  --footer-bg: #e9ded4;

  --gap: 20px;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Golos", sans-serif;
  font-weight: 400;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* other */

.container {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
}

.link {
  color: var(--link-blue);
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

/* header */

.header {
  max-width: 1920px;
  background-image: url(../assets/images/header-bg-full.png);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.header__container {
  padding-top: 26px;
  padding-bottom: 131px;
}

.header__logo {
  display: flex;
  margin-bottom: 62px;
}

.header__img {
  margin-right: 6.35px;
  padding-top: 2px;
}

.header__svg:not(:last-child) {
  margin-right: -3.73px;
}

.header__name {
  max-width: 147px;
  color: var(--dimmed-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 108%;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.header__title {
  max-width: 572px;
  margin-bottom: 26px;
  color: var(--font-black);
  font-family: Merriweather;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 63px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header__title_left {
  letter-spacing: 0.2px;
}

.header__title_right {
  margin-left: 90px;
  letter-spacing: 0px;
}

.header__title_center {
  margin-left: 32px;
  letter-spacing: 0.8px;
}

.header__descr {
  max-width: 542px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--font-black);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.header__button_block {
  display: flex;
  max-width: 542px;
  gap: 16px;
}

.header__button {
  width: calc((100% - 16px) / 2);
  padding: 12px 50px;
  text-align: center;
  border-radius: 66px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.header__button_dark {
  background: var(--button-black);
  color: var(--white);
  border: none;
}

.header__button_dark:hover {
  background-color: var(--button-yellow);
  color: var(--button-black);
}

.header__button_light {
  border: 2px solid var(--button-black);
  color: var(--button-black);
}

.header__button_light:hover {
  background-color: var(--button-black);
  color: var(--white);
}

/* hero */

.hero__section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__container {
  padding: 0;
}

.hero__tournament {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 0 72px;
}

.hero__title {
  max-width: 764px;
  color: #313131;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.tournament__img {
  max-width: 394px;
  max-height: 250px;
}

.hero__naming {
  color: var(--title-red);
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero__date {
  display: flex;
  justify-content: space-between;
  gap: 16.5px;
  padding: 0 72px 0 44.5px;
}

.hero__img {
  width: auto;
}

.hero__info {
  display: flex;
  flex-direction: column;
  padding-top: 27.81px;
}

.info__title {
  margin-bottom: 60px;
  letter-spacing: 1.1px;
}

.hero__table {
  margin-bottom: 48px;
}

.table {
  border-collapse: collapse;
  border: 2px solid var(--white); /* Прячем рамку вокруг таблицы */
}

.table__header {
  width: 42%;
  color: var(--font-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.7;
}

.table__header,
.table__data {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 1px solid var(--border-gray); /* Параметры рамки */
  text-align: left; /* Выравнивание по левому краю */
  line-height: 25px;
  letter-spacing: 0.2px;
}

.table__data {
  width: 55%;
  color: var(--font-black);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  padding: 0 0 15px 15px;
}

.table__row:not(:last-child):not(:first-child) .table__header {
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid var(--border-gray);
}

.table__row:first-child .table__header {
  padding: 0 15px 15px 0;
}

.table__row:last-child .table__header {
  padding: 15px 15px 0 0;
}

.table__row:not(:last-child):not(:first-child) .table__data {
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid var(--border-gray);
}

.table__row:first-child .table__data {
  padding: 0 0 15px 15px;
}

.table__row:last-child .table__data {
  padding: 15px 0 0 15px;
  letter-spacing: 0.8px;
}

.table__data_strike {
  position: relative;
  letter-spacing: 1.1px;
}

.table__data_strike::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--title-red);
  left: 0;
  top: 50%;
}

.hero__link {
  font-size: 22px;
  letter-spacing: 0.7px;
  line-height: 19px;
}

/* stages */

.stages__section {
  padding: 100px 0;
}

.stages__title_block {
  position: relative;
  margin-bottom: 54px;
}

.stages__title {
  max-width: 806px;
  padding-top: 5px;
  color: var(--font-black);
  font-family: Merriweather;
  font-size: 55px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.stages__undertitle {
  position: absolute;
  top: 78px;
  left: 300px;
  display: block;
  width: 260px;
  line-height: 16px;
}

.stages__link {
  font-size: 22px;
  letter-spacing: 1px;
}

.stages__content {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px auto;
}

.stages__block {
  background-image: url(../assets/images/stages-block-bg.png);
}

.stages__hight {
  grid-row: span 2;
}

.stages__long {
  grid-column: span 2;
}

.stages__info {
  padding: 20px;
  display: flex;
}

.stages__number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 36px;
  border-radius: 100%;
  color: var(--font-black);
  background-color: var(--white);
  margin-right: 16px;
  font-size: 20px;
}

.stages__text {
  color: var(--font-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.text__change {
  width: 55%;
}

.stage__img {
  position: absolute;
  right: -60px;
  bottom: 0px;
}

/* memebers */

.members__section {
  padding: 100px 0 138px 0;
}

.members__title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.members__title {
  color: var(--font-black);
  font-family: Merriweather;
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.members__button_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.members__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.members__button > svg > circle {
  transition: fill 0.2s ease-in-out;
}

.members__button:hover > svg > circle {
  fill: var(--button-yellow);
}

.members__button:disabled > svg > circle {
  fill: var(--disabled-gray);
}

.members__pages_block {
  margin: 0 14px;
  letter-spacing: 0.4px;
}

.members__pages {
  color: var(--font-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.members__pages_left {
  font-weight: 500;
}

.members__pages_right {
  opacity: 0.6;
}

.galary {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.galary__list {
  display: flex;
  width: 200%;
  transition: transform 0.5s, margin-left 500ms;
}

.galary__item {
  width: calc((100% - 40px) / 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
}

.galary__item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.item__img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 28px;
}

.item__figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__figure {
  margin: 0;
}

.item__name {
  text-align: center;
  color: var(--font-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 6px;
}

.item__descr {
  text-align: center;
  color: var(--font-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}

.item__button {
  padding: 7px 12px;
  border-radius: 62px;
  border: 1px solid var(--link-blue);
  color: var(--link-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.2px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.item__button:hover {
  color: var(--white);
  background-color: var(--link-blue);
}

/* footer */

.footer {
  background-color: var(--footer-bg);
}

.footer__container {
  padding: 40px 72px;
}

.footer__text {
  color: var(--font-black);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.27px;
  opacity: 0.6;
}

/* бегущаяя строка header */

.marquee__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
  background-color: var(--title-red);
}

.marquee {
  white-space: nowrap;
}

.marquee__text {
  color: var(--white);
  font-family: Merriweather;
  font-size: 23px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  background-image: url(../assets/images/ellipse.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 12px;
}

.marquee__svg {
  margin: 0 12px;
}
